@model IEnumerable<BulletinBoard.Core.Entities.Advert>

@{
    ViewBag.Title = "Index";
}

<h2>All Adverts</h2>


@foreach (var item in Model)
{
    <dt>
        @Html.DisplayFor(modelItem => item.Title)
    </dt>

    <dt>
        <img src="@Url.Content(item.ImagePath)" />
    </dt>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-info" value="View advert" onclick="location.href='@Url.Action("Details", new { id = item.Id })'" />
        </div>
    </div>
}